* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir el padding y borde en el ancho total */
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1818;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-image: url('fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    text-align: center;
    color: #f9f9fa;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px rgba(47, 0, 255, 0.452); /* Ancho del borde y color */
    margin-bottom: 20px; /* Añadido para separación del título */
}

button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    resize: none; /* Evita que el usuario pueda redimensionar el textarea */
    background-color: rgba(94, 148, 199, 1);
    color: #f3f3f3;
    cursor: pointer;

    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 200px; /* Ajusta el ancho máximo del botón */
    text-align: center; /* Centra el texto horizontalmente */
}

.botones {
    display: flex;

   /* flex-wrap: wrap; /* Permite que los botones se envuelvan en pantallas pequeñas */

    justify-content: space-between; /* Espacio entre botones */
    align-items: center; /* Centra verticalmente los botones */
    width: 120%; /* Ocupa todo el ancho disponible */
    margin-top: 10px; /* Espacio superior entre secciones */
}

.presentacion {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(20, 82, 18, 0.5);
    border-radius: 5px;
    display: flex;
    /*flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10%; /* Espacio entre las secciones */
}

.seccion_Ingreso {
    width: 100%;

    max-width: 600px; /* Mismo ancho máximo que la presentación */
    margin-top: 20px; /* Añadido espacio superior */
}

textarea {
    width: 120%;
    min-height: 100%;

    resize: vertical; /* Permite redimensionamiento vertical */
    overflow: scroll; /* Muestra barras de desplazamiento si es necesario */

    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Opcional: configuración de fuente para textarea */
    font-size: 1rem; /* Opcional: tamaño de fuente para textarea */
}

::placeholder { 
    color: rgb(138, 125, 125);
    font-style: italic;
    font-size: 1rem;

}

/*cambiar el color al pasar el cursor por el boton*/
button:hover {
    background-color: #0056b3;
}

footer{
    background-color: #1a1818;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem; /* Opcional: tamaño de fuente para textarea */
    font-weight: 400;

    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px 0; /* Añadido espaciado interior */
}

/* Media query para dispositivos con ancho máximo de 1200px */
@media (max-width: 800px) {
    .presentacion {
        flex-direction: column; /* Cambia a columna para dispositivos pequeños */
        align-items: stretch; /* Ajusta los elementos a lo largo del eje principal */
    }

    .seccion_Ingreso {
        width: 100%; /* Ajusta el ancho completo en dispositivos pequeños */
        margin-top: 20px; /* Añade espacio superior */
    }

    .titulo {
        font-size: 100%;
    }

    footer {
        font-size: 0.6rem; /* Opcional: tamaño de fuente para textarea */
        /*width: 100%; /* Ocupa todo el ancho disponible */
    }
}